<!-- We can add validatons in form using templates-->
<form>
  <div class="container">
      <div class="form-horizontal">


    <div class="form-group">
        <label class="col-sm-2 control-label" for="UserName">User Name :</label>
        <div class="col-sm-4">
          <input required 
                  minlength="3"
                  ngModel name="UserName" 
                  #name="ngModel" 
                  id="UserName" 
                  (change)="LogChange(name)" 
                  type="text"
                  class="form-control">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        </div>
      <div class="col-sm-4">
        <div class="alert alert-danger" 
              *ngIf="name?.touched">
           
         <div *ngIf="name.errors?.required">
          User Name is Compulssory.
        </div>

        
        <div *ngIf="name.errors?.minlength">
            enter at least 3 character
        </div>
        
        
</div>        </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Password :</label>
      <div class="col-sm-4">
      
         <input required 
         maxlength="7"
         
         type="password" 
         class="form-control">
      
        </div>
   </div>

   <div class="form-group">
      <label class="col-sm-2 control-label" for="ClgName">College Name :</label>
       <div class="col-sm-4">
          <input required 
                  ngModel name="ClgName" 
                  #ClgName="ngModel" 
                  id="ClgName" 
                  (change)="LogChange1(ClgName)" 
                  type="text" 
                  class="form-control">
        </div>
    </div>

    <div class="form-group">
    
    <div class="col-sm-2">
       </div>
      <div class="col-sm-4">
        <div class="alert alert-danger" *ngIf="!ClgName.valid">College Name is Compulssory.</div>
     </div>
    </div>
  </div>  
  
    
  <div class="col-sm-2">

  <button class="btn btn-primary">Submit</button>
</div>

</div>
</form>
